form.contact-form(method="post" action="mailto: b.pazdur@yahoo.com")
  .inputs-groups
    .form-group
      label.label(for="message_topic") Temat: 
      span.input-group
        span.material-icons#expand_more
          | expand_more
        input.input(
          @click="modalShown = !modalShown"
          type="text"
          name="title"
          readonly 
          placeholder="Na jaki temat?" 
          id="message_topic"
          :value="chosenTopic")
        .topics-available(v-if="modalShown")
          ul.topics-available-list
            li.available-list__item(v-for="topic in topics")
              span.topic(@click="chosenTopic = topic.name; modalShown = false;") {{ topic.name }}
    .form-group
      label.label(for="user_email") Email: 
      span.input-group
        span.material-icons
          | cancel
        input.input(
          type="email"
          placeholder="Jaki masz email?"
          name="from"
          id="user_email"
          autocomplete="email")
  .form-group
    label.label(for="message") Message: 
    span.textarea-group
      span.material-icons
        | cancel
      textarea.textarea(
        placeholder="Twoja wiadomość"
        id="message"
        name="message")
  .send_message-action
    div
    button.button-secondary(type="submit") Wyślij wiadomość